
body {
  position: absolute;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.konva_label {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.konva_label:focus {
  outline: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.error{
  border: 1px solid red;
}

.draw_navigation{
  position: absolute;
  width: 50px;
  height: 400px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 1px 4px 0px;
  left: 40px;
  top: 40%;
  transform: translateY(-50%);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box span {
  margin-top: 4px;
  font-size: 12px;
}
.box:hover {
  cursor:  pointer;
  background: rgba(221, 221, 221, 0.516);
}
.no_cursor{
  cursor: none;
}
#container {
  content: attr(data-content);
}
/* body:hover {
  cursor: none;
} */
